@charset "UTF-8";

body {
    background-color: rgb(68, 68, 241);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
    background-color: white;
    width: 500px;
    padding: 15px;
    margin: auto;
}

div#msg, #foto{
    text-align: center;
    padding: 8px;
}

div {
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
}